<header class="route__header">
  <div class="route__points clearfix">
    <div class="route__point -from">
      <h3 class="route__point__title">Meadow Event Park</h3>
      <div class="route__details">
        <p class="route__when">
          <date>May 2, 2015</date> at <time> @ 9:00am</time>
        </p>
        <a href="maps.google.com" class="route__address">
          123 fake street <br>
          San Jujanjanidno, CA 90210
        </a>
      </div>
    </div>
    <div class="route__point -to">
      <h3 class="route__point__title">Viget HQ</h3>
      <div class="route__details">
        <p class="route__when">
          <date>May 2, 2015</date> at <time> @ 11:00am</time>
        </p>
        <a href="maps.google.com" class="route__address">
          123 fake street <br>
          San Jujanjanidno, CA 90210
        </a>
      </div>
    </div>
  </div>
</header>

<div class="route__actions route__details">
  <p><strong>Available Seats:</strong> 2</p>
  <button class="button -hollow-green">Drive</button>
  <button class="button -hollow-green">Ride</button>
  <button class="button -hollow-grey">Cancel</button>
</div>
