@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* COLORS
  Body background color                   : #e8e8e8
  Green                                   : #13c079
  Dark Grey on left sidebar               : #0e171d
  Lighter Grey hover on link in sidebar   : #272f34
  "Black" text color in main content area : #0e171d
  Red                                     : #d12929
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

* {
  box-sizing: border-box;
}

body {
  color: #13c079;
  height: 100%;
  position: absolute;
  width: 100%;
}

.charcoal {
  background-color: #03171d;
}

.green {
  background-color: #13c079;
}

.green-txt {
  color: #13c079;
}

.red {
  background-color: #d12929;
}

.black {
  color: #0e171d;
}

.gray {
  color: #e8e8e8;
}

.gray-hover {
  background-color: #272f34;
}

.white {
  color: #FFFFFF;
}

.transparent {
  background-color: transparent;
}

div {
  height: 100%;
}

.sidebar {
  float: left;
  position: relative;
  width: 20%;
}

.main {
  background-color: #FFFFFF;
  float: right;
  width: 80%;
}

.bottom {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.right {
  float: right;
}

.event {
  background-color: #e8e8e8;
}

.destination {
  background-color: #FFFFFF;
}

.rides {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ride {
  border-color: #e8e8e8;
  width: 50%;
}

.rounded {
  border-radius: 20px;
}
