{% extends 'layouts/event.html' %}

{% block content %}
  {% parent %}
  <section class="section route">
    <header class="route__header section-header">
      <div class="route__points">
        <div class="route__point -from">
          <h3 class="route__point__title">Meadow Event Park</h3>
          <p class="route__when"></p>
          <date>May 2, 2015</date> at <time> @ 9:00am</time>
        </div>
        <div class="route__point -to">
          <h3 class="route__point__title">Viget HQ</h3>
          <p class="route__when"></p>
          <date>May 2, 2015</date> at <time> @ 11:00am</time>
        </div>
      </div>

      <div class="section-actions">
        <button class="button -hollow-grey -small">Edit</button>
      </div>
    </header>

    <section>
      <h3>Unassigned</h3>
      <ul class="route__pool">
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
        <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
      </ul>
    </section>

    <section>
      <h3>Vehicles</h3>
      <ul class="vehicle-list list-basic">
        <li class="vehicle">
            <div class="inner">
              <p class="route__driver passenger -driver">jonathan.doegerhtinson@viget.com</p>
              <p class="vehicle__capacity">3/5 <button class="button -small -hollow-grey">Edit</button></p>
              <ul class="list-basic">
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
              </ul>
            </div>
          </li>

          <li class="vehicle">
            <div class="inner">
              <p class="route__driver passenger -driver">jonathan.doegerhtinson@viget.com</p>
              <p class="vehicle__capacity">1/5 <button class="button -small -hollow-grey">Edit</button></p>
              <ul class="list-basic">
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
              </ul>
            </div>
          </li>

          <li class="vehicle">
            <div class="inner">
              <p class="route__driver passenger -driver">jonathan.doegerhtinson@viget.com</p>
              <p class="vehicle__capacity">5/5 <button class="button -small -hollow-grey">Edit</button></p>
              <ul class="list-basic">
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
              </ul>
            </div>
            <li class="vehicle">
              <div class="inner">

                <p class="route__driver passenger -driver"><i class="icon -driver"></i>jonathan.doegerhtinson@viget.com</p>
                <p class="vehicle__capacity">3/5 <button class="button -small -hollow-grey">Edit</button></p>
                <ul class="list-basic">
                  <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                  <li class="passenger" draggable="true">jonathan.doegerhtinson@viget.com</li>
                </ul>
              </div>
          </li>
      </ul>
    </section>

    <section class="section-submit">
      <button class="button -hollow-green -center">Assign Riders</button>
    </section>
  </section>
{% endblock %}
