{% extends 'layouts/application.html' %}

{% block content %}
    <h1 class="page-title">TTT: Kayaking in the River</h1>
    <div class="page-actions">
      <button class="button -hollow-green">New Route</button>
    </div>

    <section class="section -ride-select">
      <header class="section-header">
        <h2>
          <span>Viget HQ</span>
          <i class="arrow-icon"></i>
          <span>Meadow Event Park</span>
        </h2>
        <div class="section-actions">
          <button class="button -hollow-grey -small">Cancel</button>
          <button class="button -hollow-green -small">Save</button>
        </div>
      </header>
      <div class="section-main">
        <ul class="ride-select -riders">
          <li>john@doe@viget.com</li>
          <li>john@doe@viget.com</li>
          <li>john@doe@viget.com</li>
          <li>john@doe@viget.com</li>
          <li>john@doe@viget.com</li>
          <li>john@doe@viget.com</li>
          <li>john@doe@viget.com</li>
          <li>john@doe@viget.com</li>
        </ul>
        <ul class="ride-select -drivers">
          <li>
            <h4>
              driver@test@viget.com
              <span class="driver-capacity">4</span>
            </h4>
            <ul class="driver-riders">
              <li>john@doe@viget.com</li>
              <li>john@doe@viget.com</li>
              <li>john@doe@viget.com</li>
            </ul>
          </li>
          <li>
            <h4>
              driver@test@viget.com
              <span class="driver-capacity">4</span>
            </h4>
          </li>
          <li>
            <h4>
              driver@test@viget.com
              <span class="driver-capacity">4</span>
            </h4>
          </li>
          <li>
            <h4>
              driver@test@viget.com
              <span class="driver-capacity">4</span>
            </h4>
          </li>
        </ul>
      </div>
      <div class="section-submit">
        <button class="button -hollow-green -center">Assign Riders</button>
      </div>
    </section>
{% endblock %}
