{% extends 'layouts/application.html' %}

{% block content %}
  <h1>Log in</h1>
  <form action="" class="form">
    <div class="form-row -full">
      <label class="label" for="">Username</label>
      <input type="text" class="input -text">
    </div>
    <div class="form-row -full">
      <label class="label" for="">Password</label>
      <input type="password" class="input -text">
    </div>
    <div class="form-row -full">
      <input type="submit" class="button -green">
    </div>
  </form>
{% endblock %}
