{% extends 'layouts/application.html' %}

{% block content %}
<section class="section">
  <header class="section-header">
    <h2>
      <span>Viget HQ</span>
      <i class="arrow-icon"></i>
      <span>Meadow Event Park</span>
    </h2>
  </header>
  <div class="section-main">
    <form action="" class="form -location">
      <ol class="form-rows">
        <li>
          <h4>
            Departure
            <span class="location-time">
              <span class="icon -clock"></span>
              9:00 AM
            </span>
          </h4>
          <div class="form-row -full">
            <label class="label" for="">Address</label>
            <input type="text" class="input -text">
          </div>
          <div class="form-row -full">
            <div class="form-row -half">
              <label class="label" for="">State</label>
              <input type="text" class="input -text">
            </div>
            <div class="form-row -half">
              <label class="label" for="">City</label>
              <input type="text" class="input -text">
            </div>
          </div>
        </li>
        <li>
          <h4>
            Arrival
            <span class="location-time">
              <span class="icon -clock"></span>
              9:00 AM
            </span>
          </h4>
          <div class="form-row -full">
            <label class="label" for="">Address</label>
            <input type="text" class="input -text">
          </div>
          <div class="form-row -full">
            <div class="form-row -half">
              <label class="label" for="">State</label>
              <input type="text" class="input -text">
            </div>
            <div class="form-row -half">
              <label class="label" for="">City</label>
              <input type="text" class="input -text">
            </div>
          </div>
        </li>
        <li>
          <h4>Attendees</h4>
          <div class="form-row -full">
            <textarea type="text" class="input -textarea"></textarea>
          </div>
        </li>
      </ol>
    </form>
  </div>
</section>
{% endblock %}
